name: Continuous Benchmark
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  benchmark:
    runs-on: vdbbench
    steps:
      - uses: actions/checkout@v4

      - name: Run VectorDBBench
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          bash .github/workflows/scripts/run_vdb.sh