name: Continuous Benchmark
on:
  push:
    branches: [ "main", "ci/continuous_bench" ]
    paths-ignore:
      - '**.md'
  merge_group:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: pr-${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  benchmark:
    runs-on: vdbbench
    steps:
      - uses: actions/checkout@v4

      - name: Run VectorDBBench
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          bash .github/workflows/scripts/run_vdb.sh